.sidebarWrapper{
  border: 1px solid green;
  float:left;
  box-sizing:border-box;
}

#above-content{
  border: 5px solid #ff0000;
}

#content{
  float:left;
  border:1px solid blue;
  box-sizing:border-box;
}

.contentWrapper{
  border: 1px dashed #ccc;
}

.full-width{
  width:100%;
}

.three-fourths{
  width:75%;
}

.one-fourth{
  width:25%;
}
